@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url('https://fonts.cdnfonts.com/css/new-york-extra-large'); */
body {
  margin: 0px;
  padding: 0px;
  font-size: 11.5px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: transparent; }

.content {
  position: absolute;
  display: flex;
  top: 220px; }

iframe {
  display: none; }

img.ad_logo {
  width: 360px; }

.ad_copy {
  position: absolute; }

.ad_copy h2 {
  margin: 0; }

.ad_copy p {
  font-size: 2.5em; }

/* conditional */
.is_vegan,
.is_vegetarian,
.is_halal,
.is_kosher,
.is_gmo_free,
.is_organic {
  display: none; }

.disclaimer_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.5; }

.advert {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: 0 3em;
  background-color: #ffffff;
  color: #1d1d1d; }

.advert.featured {
  width: 1000px;
  height: 1483px;
  background-size: 2537px;
  background-position: -852px -65px; }

.aplus {
  position: relative;
  width: 2000px;
  height: 1236px;
  margin: 0 2em;
  background-color: #ffffff; }
  .aplus .divider-vertical-center {
    position: absolute;
    top: 0;
    left: 970px;
    width: 60px;
    height: 100%;
    background-color: #fff; }

/* slabs */
.slab {
  opacity: 0.2; }

/* Bullet Icons */
.bullet-icon {
  text-align: center;
  padding-top: 19px; }

.bullet-icon .fa-light,
.bullet-icon .fa-thin,
.bullet-icon .fa {
  padding-top: 13px;
  width: 144px;
  height: 144px;
  font-size: 69px; }

.bullet {
  width: 230px; }

.advert .bullet,
.aplus .bullet {
  width: 150px;
  height: 280px;
  position: relative;
  background-image: url("/templates/assets/images/fh/circle01.svg");
  background-repeat: no-repeat; }

.advert .bullet::before,
.aplus .bullet::before {
  width: 100px;
  height: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  top: -4px;
  left: -4px; }

.advert svg,
.aplus svg {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 3px;
  left: 3px; }
  .advert svg path,
  .aplus svg path {
    display: none; }

.bullet::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  z-index: 1; }

/* ADVERTS AND APLUS */
.aplus,
.advert {
  position: relative;
  margin-bottom: 4em; }

/* ad1 and ap1 ==================================== */
.ad1,
.ad1_accent {
  background-position: -367px -47px;
  background-repeat: no-repeat;
  background-size: 1739px; }

.ap1,
.ap1_accent {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%; }

.ap1 .red_logo {
  position: absolute;
  background-color: #c64441;
  top: 0;
  right: 200px;
  height: 220px;
  width: 200px; }
  .ap1 .red_logo img {
    margin: 3em 1.5em 1.5em; }

.ap1 .key_feature_title {
  position: absolute;
  font-family: "New York";
  font-weight: 500;
  letter-spacing: -0.07em;
  line-height: 0.86;
  width: 780px;
  left: 1160px;
  top: 760px;
  z-index: 2;
  font-size: 10em; }

.ap1 .key_feature_subtitle {
  position: absolute;
  top: 950px;
  left: 1160px;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 2; }

.ap1 > .slab02 {
  position: absolute;
  top: 470px;
  right: 130px;
  width: 710px;
  z-index: 1; }

/* ad2 and ap2 ==================================== */
.ad2 {
  background-position: -220px 360px;
  background-repeat: no-repeat; }
  .ad2 .product_subtitle {
    text-transform: uppercase;
    position: absolute;
    top: 70px;
    left: 80px;
    font-size: 2.7em;
    letter-spacing: 0.2em;
    width: 690px;
    line-height: 1.7;
    z-index: 2; }
  .ad2 .product_description {
    position: absolute;
    top: 182px;
    left: 80px;
    font-size: 1.7em;
    width: 500px;
    line-height: 1.5;
    z-index: 2; }
  .ad2 .key_feature_subtitle {
    position: absolute;
    left: 1158px;
    top: 400px;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.2em; }
  .ad2 .slab03 {
    position: absolute;
    top: -10px;
    left: -100px;
    width: 590px;
    z-index: 1; }

.ap2 .bullets {
  display: flex;
  position: absolute;
  top: 800px;
  left: 100px;
  right: 100px;
  flex-direction: row;
  justify-content: space-evenly; }

.ap2 .bullet-description {
  text-align: center;
  font-size: 2em;
  margin-top: 180px; }

.ap2 svg text {
  display: none; }

.ap2 .product_subtitle {
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  left: 300px;
  font-size: 2.7em;
  letter-spacing: 0.2em;
  width: 690px;
  line-height: 1.7;
  z-index: 2; }

.ap2 .product_description {
  position: absolute;
  top: 320px;
  left: 300px;
  font-size: 1.7em;
  width: 690px;
  line-height: 1.5;
  z-index: 2; }

.ap2 .key_feature_subtitle {
  position: absolute;
  left: 1158px;
  top: 400px;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.2em; }

.ap2 .feature_art_container {
  position: absolute;
  top: 20px;
  right: 130px;
  width: 750px; }

.ap2 .disclaimer_text {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center; }

.ap2 .slab03 {
  position: absolute;
  top: 50px;
  left: 90px;
  width: 710px;
  z-index: 1; }

/* ad3 and ap3 ==================================== */
.ad3 .red_logo {
  position: absolute;
  background-color: #c64441;
  top: 0;
  right: 100px;
  height: 170px;
  width: 150px; }
  .ad3 .red_logo img {
    margin: 2em 1em 1em; }

.ad3 .bullets {
  display: flex;
  position: absolute;
  top: 610px;
  left: 100px;
  right: 100px;
  flex-direction: row;
  justify-content: space-evenly; }

.ad3 .bullet-description {
  text-align: center;
  font-size: 2em;
  margin-top: 180px; }

.ad3 svg text {
  display: none; }

.ad3 .slab {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 80px;
  left: 100px; }

.ad3 .feature_art_container {
  position: absolute;
  top: 80px;
  left: 130px;
  width: 540px; }

.ap3 {
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat; }
  .ap3 .bullet {
    position: absolute;
    height: 120px;
    width: 120px; }
  .ap3 .bullet.bullet1 {
    top: 430px;
    left: 670px;
    transform: rotate(13deg); }
  .ap3 .bullet.bullet2 {
    top: 230px;
    left: 1180px;
    height: 150px;
    transform: rotate(63deg); }
  .ap3 .bullet.bullet3 {
    top: 670px;
    left: 670px;
    height: 150px;
    transform: rotate(292deg); }
  .ap3 .bullet.bullet4 {
    top: 800px;
    left: 1200px;
    transform: rotate(212deg); }
  .ap3 .feature {
    width: 400px;
    height: 400px;
    position: absolute; }
    .ap3 .feature .feature_copy {
      max-width: 13em;
      font-size: 2.3em;
      padding-top: 4em;
      padding-left: 1.5em; }
      .ap3 .feature .feature_copy li, .ap3 .feature .feature_copy ul {
        list-style-type: none; }
      .ap3 .feature .feature_copy h2 {
        font-size: 1em;
        font-weight: 700; }
  .ap3 .feature.feature1 {
    top: 100px;
    left: 310px; }
  .ap3 .feature.feature2 {
    top: 130px;
    left: 1300px; }
    .ap3 .feature.feature2 .feature_copy {
      padding-left: 2.5em; }
  .ap3 .feature.feature3 {
    top: 640px;
    left: 270px; }
    .ap3 .feature.feature3 .feature_copy {
      padding-left: 3.5em; }
  .ap3 .feature.feature4 {
    top: 660px;
    left: 1290px; }
    .ap3 .feature.feature4 .feature_copy {
      padding-left: 3.5em; }

/* ad4 and ap4 ==================================== */
.ad4 {
  background-position: -100px 170px;
  background-size: 1200px;
  background-repeat: no-repeat; }
  .ad4 .slab {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 300px; }
  .ad4 .bullet {
    position: absolute;
    height: 80px;
    width: 80px; }
  .ad4 .bullet.bullet1 {
    top: 280px;
    left: 270px;
    transform: rotate(13deg); }
  .ad4 .bullet.bullet2 {
    top: 230px;
    left: 610px;
    height: 150px;
    transform: rotate(63deg); }
  .ad4 .bullet.bullet3 {
    top: 590px;
    left: 320px;
    height: 150px;
    transform: rotate(292deg); }
  .ad4 .bullet.bullet4 {
    top: 650px;
    left: 635px;
    transform: rotate(212deg); }
  .ad4 .feature {
    font-size: 0.86em;
    width: 400px;
    height: 400px;
    position: absolute; }
    .ad4 .feature .feature_copy {
      max-width: 13em;
      font-size: 1.8em;
      padding-top: 6em;
      padding-left: 1.5em; }
      .ad4 .feature .feature_copy li, .ad4 .feature .feature_copy ul {
        list-style-type: none; }
      .ad4 .feature .feature_copy h2 {
        font-size: 1em;
        font-weight: 700; }
  .ad4 .feature.feature1 {
    top: 40px;
    left: 40px; }
  .ad4 .feature.feature2 {
    top: 0px;
    left: 680px; }
    .ad4 .feature.feature2 .feature_copy {
      padding-left: 2.5em; }
  .ad4 .feature.feature3 {
    top: 440px;
    left: 0px; }
    .ad4 .feature.feature3 .feature_copy {
      padding-left: 3.5em; }
  .ad4 .feature.feature4 {
    top: 400px;
    left: 680px; }
    .ad4 .feature.feature4 .feature_copy {
      padding-left: 3.5em; }

.ap4 .safe_headline {
  font-family: "New York";
  position: absolute;
  top: 150px;
  left: 200px;
  font-size: 11em;
  font-weight: 500;
  letter-spacing: -0.07em;
  line-height: 0.86; }

.ap4 .safe_copy {
  position: absolute;
  top: 540px;
  left: 210px;
  width: 20em;
  font-size: 3em; }

.ap4 .logos {
  position: absolute;
  left: 300px;
  right: 300px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  /* align-content: flex-start; */
  align-items: flex-start;
  justify-content: space-evenly; }

.ap4 .logos img {
  width: 130px; }

.ap4 .logos img.made_in_britain {
  width: 260px;
  padding-top: 2em; }

.ap4 .hero {
  position: absolute;
  top: 100px;
  right: 130px;
  width: 750px;
  height: 750px;
  background-image: url("/templates/assets/images/fh/circle03.svg");
  background-repeat: no-repeat;
  z-index: 2; }
  .ap4 .hero .hero_photo {
    width: 75%;
    height: 75%;
    background-image: url(/templates/assets/images/fh/pexels-photo-3768585.jpeg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: -200px -201px;
    border-radius: 750px;
    margin-top: 88px;
    margin-left: 100px; }

.ap4 .quality {
  display: none; }

/* ad5 and ap5 ==================================== */
.ad5 .safe_headline {
  font-family: "New York";
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 9em;
  font-weight: 500;
  letter-spacing: -0.07em;
  line-height: 0.86; }

.ad5 .safe_copy {
  position: absolute;
  top: 440px;
  left: 80px;
  width: 20em;
  font-size: 2.5em; }

.ad5 .logos {
  position: absolute;
  left: 80px;
  right: 80px;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  /* align-content: flex-start; */
  align-items: flex-start;
  justify-content: space-between; }

.ad5 .logos img {
  width: 80px; }

.ad5 .logos img.made_in_britain {
  width: 160px;
  padding-top: 2em; }

.ad5 .hero {
  position: absolute;
  top: 110px;
  right: 40px;
  width: 400px;
  height: 400px;
  background-image: url("/templates/assets/images/fh/circle03.svg");
  background-repeat: no-repeat;
  z-index: 2; }
  .ad5 .hero .hero_photo {
    width: 75%;
    height: 75%;
    background-image: url(/templates/assets/images/fh/pexels-photo-3768585.jpeg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: -90px -107px;
    border-radius: 750px;
    margin-top: 48px;
    margin-left: 56px; }

.ad5 .quality {
  display: none; }

.ap5 .slab05 {
  position: absolute;
  top: -350px;
  left: 0;
  right: 0; }

.ap5 h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
  opacity: 0.6; }

.ap5 h4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 1.5em; }

.ap5 .information {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0; }

.ap5 table {
  margin: 10em auto;
  width: 85%; }
  .ap5 table th, .ap5 table td {
    padding: 2em;
    vertical-align: top; }

.ap5 .product {
  width: 40%; }

.ap5 .quantity {
  width: 60%; }

.ap5 .nutrition ul {
  padding: 0; }

.ap5 .nutrition li {
  list-style-type: none;
  padding: 0;
  font-size: 1.4em;
  line-height: 1.65; }

.ap5 .dosage .dosage_copy {
  padding: 0;
  font-size: 1.4em;
  line-height: 1.65; }

.ap5 .size {
  background-image: url("/templates/assets/images/fh/coins.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 500px;
  width: 100%; }

/* ad6 and ap6 ==================================== */
.ad6 .slab05 {
  position: absolute;
  left: 0;
  right: 0; }

.ad6 h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
  opacity: 0.6; }

.ad6 h4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 1.5em; }

.ad6 .information {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0; }

.ad6 table {
  margin: 10em auto;
  width: 85%; }
  .ad6 table th,
  .ad6 table td {
    padding: 2em;
    vertical-align: top; }

.ad6 .product {
  width: 60%; }

.ad6 .quantity {
  width: 40%; }

.ad6 .nutrition ul {
  padding: 0; }

.ad6 .nutrition li {
  list-style-type: none;
  padding: 0;
  font-size: 1.4em;
  line-height: 1.65; }

.ad6 .dosage .dosage_copy {
  padding: 0;
  font-size: 1.4em;
  line-height: 1.65; }

.ad6 .size {
  background-image: url("/templates/assets/images/fh/coins.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 320px;
  width: 100%; }

.ap6 .helping_you {
  position: absolute;
  top: 90px;
  left: 200px;
  width: 602px; }
  .ap6 .helping_you h2 {
    font-family: "New York";
    font-size: 7em;
    font-weight: 500;
    letter-spacing: -0.07em;
    line-height: 0.86;
    width: 6em; }
  .ap6 .helping_you p {
    font-size: 2.5em; }

.ap6 .slab {
  opacity: 1; }

.ap6 .slab09 {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 1000px; }

.ap6 .fh_logo {
  position: absolute;
  top: 260px;
  left: 250px;
  width: 400px;
  height: 400px;
  z-index: 2;
  background: #fff;
  border-radius: 600px;
  padding: 4em; }

.ad7 .bullets {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }
  .ad7 .bullets .bullet-description {
    text-align: center;
    font-size: 1.5em;
    margin-top: 180px; }
  .ad7 .bullets svg text {
    display: none; }

.ad7 .quality {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 602px; }
  .ad7 .quality h1 {
    font-family: "New York";
    font-size: 7em;
    font-weight: 500;
    letter-spacing: -0.07em;
    line-height: 0.86;
    width: 100%; }
  .ad7 .quality h2 {
    font-family: "New York";
    font-size: 9em;
    font-weight: 500;
    letter-spacing: -0.07em;
    line-height: 0.86;
    width: 100%;
    margin: 0; }
  .ad7 .quality p {
    font-size: 2.5em;
    width: 11em; }

.ad7 .certificate {
  position: absolute;
  top: 40px;
  left: 345px;
  width: 500px;
  height: 500px;
  background-image: url("/templates/assets/images/fh/fh-certificate.svg");
  background-repeat: none;
  background-size: cover;
  text-align: center; }
  .ad7 .certificate h1 {
    position: relative;
    font-size: 13em;
    margin-bottom: 0; }
  .ad7 .certificate h2 {
    position: relative;
    font-size: 6.5em;
    margin: 0; }

/* ad7  ==================================== */
/* ad8  ==================================== */
.ad8 {
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: 100px; }

/* ad9  ==================================== */
.ad9 .helping_you {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 422px; }
  .ad9 .helping_you h2 {
    font-family: "New York";
    font-size: 5em;
    font-weight: 500;
    letter-spacing: -0.07em;
    line-height: 0.86;
    width: 6em;
    margin-top: 0; }
  .ad9 .helping_you p {
    font-size: 2em; }

.ad9 .slab {
  opacity: 1; }

.ad9 .slab09 {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 500px; }

.ad9 .fh_logo {
  position: absolute;
  top: 130px;
  left: 125px;
  width: 200px;
  height: 200px;
  z-index: 2;
  background: #fff;
  border-radius: 600px;
  padding: 2em; }
