@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/new-york-extra-large'); */

body {
  margin: 0;
  padding: 0px;
  font-size: 11.5px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: transparent;
}
.content {
  position: absolute;
  display: flex;
  top: 220px;
}

iframe {
  display: none;
}

img.rs_collection_logo {
  width: 300px;
}
img.ad_logo {
  width: 360px;
}

.ad_copy {
  position:absolute
}
.ad_copy h2 {
  margin: 0;
}
.ad_copy p {
  font-size: 2.5em;
}


/* conditional */

  .is_vegan,
  .is_vegetarian,
  .is_halal,
  .is_kosher,
  .is_gmo_free,
  .is_organic { display: none}


/* Bullet Icons */
.bullet-icon {
  text-align: center;
  padding-top: 19px;
}
.bullet-icon .fa-light, 
.bullet-icon .fa-thin,
.bullet-icon .fa {
  padding-top: 13px;
  width: 144px;
  height: 144px;
  font-size: 69px;  
}
.bullet {
  width:230px;
  position : absolute;
  color:#1B1B1B;
}
.aplus .bullet {
  width: 440px;
}

.bullet::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 230px;
  height: 230px;
  -moz-border-radius: 230px;
  -webkit-border-radius: 230px;
  border-radius: 230px;
  background-color:#ffffff;
  z-index:1;
}

.aplus .bullet::before {
  width: 440px;
  height: 440px;
  -moz-border-radius: 440px;
  -webkit-border-radius: 440px;
  border-radius: 440px;
  top: -4px;
  left: -4px;
}


.bullet svg {
  width:100%;
  z-index: 2;
  position: absolute;
  top:3px;
  left:3px;
}

.ad2 .bullet-0 {
  top: 100px;
  left: 100px
}

.ad2 .bullet-1 {
  top: 222px;
  left: 320px;
}

.ad2 .bullet-2 {
  top: 353px;
  left: 100px;
}

.ad2 .bullet-3 {
  top: 479px;
  left: 320px;
}

.ad2 .bullet-4 {
  top: 600px;
  left: 100px;
}

/* aplus */
.ap2 .bullet-0 {
  top: 170px;
  left: 100px
}

.ap2 .bullet-1 {
  top: 600px;
  left: 350px;
}

.ap2 .bullet-2 {
  top: 170px;
  left: 600px;
}

.ap2 .bullet-3 {
  top: 600px;
  left: 850px;
}

.ap2 .bullet-4 {
  top: 170px;
  left: 1100px;
}


.advert {
  width: 1000px;
  height: 1000px;
  margin: 0 3em;
  background-color: #ffffff;
  color: #1d1d1d;
}
.advert.featured {
  width: 1000px;
  height: 1483px;
  background-size: 2537px;
  background-position: -852px -65px;
}
.aplus {
  width: 2000px;
  height: 1236px;
  margin: 0 2em;
  background-color: #ffffff;
}

.aplus .divider-vertical-center {
  position:absolute;
  top:0;
  left: 970px;
  width:60px;
  height:100%;
  background-color: #fff;
}

/* ADVERTS AND APLUS */

.aplus,
.advert {
  position: relative;
  background-size: 3236px 2000px;
  margin-bottom:4em;
  border-radius: 6em;
}
.aplus h1,
.advert h1 {
  font-size: 10em;
  position: absolute;
  font-family: "New York";
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 0.86;
}
.aplus h2,
.advert h2,
.aplus .key_feature_title,
.advert .key_feature_title {
  font-size: 7.7em;
  position: absolute;
  font-family: "New York";
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 0.86;
}
.aplus h2,
.advert h2,
.aplus .key_feature_subtitle,
.advert .key_feature_subtitle {
  font-size: 7.7em;
  position: absolute;
  font-family: "New York";
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 0.86;
}
.aplus h3,
.advert h3 {
  font-size: 2.95em;
  position: absolute;
  font-family: "DIN 2014", monospace;
  font-weight: 400;
  /* letter-spacing: -0.07em; */
  line-height: 1.2;
}


/* ADVERT 1 & APLUS 1*/
.ad1,
.ad1_accent {
  background-image: url("../images/rs_ad1.png");
  background-position: -367px -47px;
  background-repeat: no-repeat;
  background-size: 1739px;
}

.ap1,
.ap1_accent {
  background-image: url("../images/rs_aplus1.png");
  background-position: -50px -20px;
  background-repeat: no-repeat;
  background-size: 2051px;
}

.ap1 .key_feature_title,
.ap1_accent .key_feature_title {
  width: 740px;
  left: 1140px;
  top: 190px;
  font-size: 9em;
  color: #1d1d1d;
}
.ap1_accent  .key_feature_title{

}

/* ADVERT 2 & APLUS 2*/
.ad2, .ap2 {
  background-image: url("../images/rs_ad2.png");

}
.advert.ad2 {
  background-position-x: -341px;
  background-size: 1617px;  
}

.disclaimer_text {
  position: absolute;
  bottom: 60px;
  left: 100px;
  font-size: 1.6em;
  width: 20em;
}
 
.ap2 .disclaimer_text {
  bottom:90px;
}

.ad2 h2 {
  top: 27px;
  left: 96px;
}

.ad2 .ad_bullets,
.ap2 .ad_bullets {
  position: absolute;
  top: 401px;
  left: 170px;

  font-size: 35px;
  line-height: 60px;
  font-family: "DIN 2014";
}


.ad2 .ad_bullets_icons,
.ap2 .ad_bullets_icons {

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 440px;
  left: 100px;
}

.ad2 .ad_bullets_icons img,
.ap2 .ad_bullets_icons img {
  width: 50px;
  padding-bottom: 10px;
}


.ad2 .ad_logo {
  position: absolute;
  bottom: 88px;
  right: 83px;
}

.ap2 .ad_logo {
  position: absolute;
  bottom: 88px;
  right: 83px;
}

.ap2 {
  background-image: url("../images/rs_aplus2.png");
  background-size: 2910px;
  background-position: -356px
}

.ap2 h2 {
  top: 27px;
  left: 96px;
}


/* ADVERT 3 & APLUS 3*/
.ad3 {
  background-image: url("../images/rs_ad3.png");
}

.ap3 {
  background-image: url("../images/rs_aplus3.png");
}

.ad3,
.ap3 {
  background-size: 2720px;
  background-position: top right;

}

.ad3 > h2,
.ap3 > h2 {
  bottom: 177px;
  left: 96px;
}

.ad3 .certificate, 
.ap3 .certificate {
  position: absolute;
  top: 73px;
  left: 100px;
  width: 500px;
  height: 500px;
  background-image: url("/templates/assets/images/fh/fh-certificate.svg");
  background-repeat: none;
  background-size: cover;
  text-align: center;
}
.ad3 .certificate h1,
.ap3 .certificate h1 {
  position: relative;
  font-size: 13em;
  margin-bottom:0;
}

.ap3 .certificate h1 {
  font-size: 15em;
  margin-top: 150px;
}

.ad3 .certificate h2,
.ap3 .certificate h2 {
  position: relative;
  font-size:6.5em;
  margin: 0;
}



.ad3 .bullet-0 {
  top:90px;
  left:670px;
}
.ad3 .bullet-1 {
  top: 390px;
  left: 670px;
}
.ad3 .bullet-2 {
  top: 690px;
  left: 670px;
}


.ap3 .bullet-0 {
  top: 500px;
  left: 547px;
}

.ap3 .bullet-1 {
  top: 230px;
  left: 1010px;
}

.ap3 .bullet-2 {
  top: 500px;
  left: 1470px;
}


/* ADVERT 4 & APLUS 4*/
.ad4 {
  background-image: url("../images/rs_ad4.png");
  background-position: -40px -40px;
  background-size: 1750px;
}
.ad4 .logos {
  position: absolute;
  right: 82px;
  bottom: 39px;
  display: flex;
  flex-direction: column-reverse;
}
.ad4 .logos img {
   width: 138px;
}

.ap4 .logos {
  position: absolute;
  left: 904px;
  bottom: 46px;
  display: flex;
  flex-direction: column-reverse;
}
.ap4 .logos img {
  width: 130px;
  margin-right: 40px;
}

.guarantee_text {
  position: absolute;
  bottom: 60px;
  left: 100px;
  font-size: 2em;
  width: 20em;
}

.ad4 h2,
.ap4 h2 {
  top: 27px;
  left: 96px;
}

.ap4 h3,
.ad4 h3 {
  top: 401px;
  left: 106px;
}

.ap4 {
  background-image: url("../images/rs_aplus4.png");
  background-position: -240px 0px;
}

/* ADVERT 5 & APLUS 5*/

.ad5 h2,
.ap5 h2 {
  top: 5px;
  left: 96px;
  width: 7em;
}

.ap5 h2 {
    top: 130px;
  left: 1150px;
      font-size: 7em;
}

.ad5 .logos img,
.ap5 .logos img {
  margin: 0 12px;
}

.ad5 .logos {
  top: 800px;
  left: 450px;
}

.ap5 .logos {
  top: 220px;
  left: 1035px;
}

.ad5 .ingredients,
.ap5 .ingredients {
  color: #1d1d1d;
  font-size: 1.3em;
  margin: 0 20px 1em;
  width: 30em;
  border-radius: 3mm;
  position: absolute;
  right: 2mm;
  padding: 3mm 4mm 5mm;
}

.ad5 .ingredients {
  top: 561px;
  left: 400px;
}

.ap5 .ingredients {
  top: 350px;
  left: 1010px;
  width: 40em;
  font-size: 1.4em;
}

.ad5 img.ad_logo,
.ap5 img.ad_logo {
position: absolute;
  top: 61px;
  width: 400px;
}
.ad5 img.ad_logo {
  display:none;
}
.ap5 img.ad_logo {
  left:110px
}


body.Maintenance .features {
  background: #2ca2cc;
  color: #ffffff;
}
body.Performance .features {
  background: #e20613;
  color: #ffffff;
}
body.Recovery .features {
  background: #ffaa00;
  color: #ffffff;
}

.ad5 .features,
.ap5 .features{
position: absolute;
  right: 60px;
  width: 441px;
  font-size: 1.2em;
  border-radius: 2em;
  padding: 2.2em;
}

.ad5 .features {
  top: 546px;
  width: 450px;
}
.ap5 .features {
  top: 554px;
  right: 60px;
  font-size: 1.5em;
  width: 578px;
}

.ad5 .features h3,
.ap5 .features h3 {
  font-size: 4em;
  color:#1d1d1d;
  margin:0;
}

.ad5 .features p,
.ap5 .features p {
  font-size: 2em;
  margin: 0;
  padding:0;
}
.ap5 .features p {
  font-size:2.5em;
}
.ad5 .rs_logos,
.ap5 .rs_logos {
position: absolute;
  top: 550px;
  left: 152px;
  width: 300px;
}

.ad5 .rs_logos {
  left: 98px;
}

.ap5 .features {
    left: 1120px;
}

.ad5 .rs_logos img,
.ap5 .rs_logos img {
  display: none;
}
.ad5 {
  background-image: url("../images/rs_ad5.png");
    background-size: 1620px;
  /* background-position: -346px -152px;
  background-repeat: no-repeat;
  background-size: 3000px 1500px; */
}

.ap5 {
  background-image: url("../images/rs_aplus5.png");
  background-size: 2000px;
  /* background-repeat: no-repeat;
  background-position: -176px -152px;
  background-size: 3000px 1500px; */
}

/* ADVERT 6 & APLUS 6*/


.ad6 h1,
.ap6 h1 {
position: absolute;
  top: 64px;
  left: 79px;
  padding: 0;
  margin: 0;
  font-size: 57em;
}

.ap6 h1 {
  font-size: 46em;
  left: 170px;
}

.ad6 h2,
.ap6 h2 {
  position: absolute;
  top: 58px;
  left: 440px;
  width: 460px;
}

.ap6 h2 {
  font-size: 9em;
  left: 500px;
  width: 800px;
  top: 25px;
}

.ad6 .rs_collection_logo {
  width: 200px;
}
.ap6 .rs_collection_logo {
  width: 180px;
}
.ad6 .rs_collection_group,
.ap6 .rs_collection_group{
  position: absolute;
  top: 689px;
  left: 90px;
  right: 90px;
  display: flex;
  justify-content: space-between;
}
.ap6 .rs_collection_group {
  left: 180px;
  right: 180px;
  top: 580px;
}

.ap6 .rs_collection_group .rs_collection_logo {
  width:300px;
}

.ad6 {
  /* background-image: url("/stock/rs_ad6.png"); */
  background-size:1000px 1000px;
}

.ap6 {
  /* background-image: url("/stock/rs_aplus6.png"); */
  background-size: 2472px 1236px;
  background-position: -216px 0;
}


/* ADVERT 7 & APLUS 1*/

.ad7, .ap7 {
  color:#ffffff;
}
.ad7 {
  /* background-image: url("/stock/rs_ad7.png"); */
  background-size: 1000px 1000px;
}
.ap7 {
  /* background-image:url("/stock/rs_aplus7.png"); */
  background-size: 2472px 1236px;
}
.ad7 .rs_collection_logo, 
.ap7 .rs_collection_logo{
  position:absolute;
  top:90px;
  left:90px;
}
.ad7 .ad_logo,
.ap7 .ad_logo {

  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 200px;
}

.ad7 h2,
.ap7 h2 {
position:relative
}
.ad7 .ad_copy,
.ap7 .ad_copy {
  top: 460px;
  left: 83px;
  width: 400px;
}

.ap7 h2 {
  font-size: 16em;
  width: 6em;
}
.ap7 p {
  font-size: 4em;
  width: 16em;
}
/* ADVERT 8 & APLUS 1*/

.ad8,
.ap8 {
  color: #ffffff;
}
.ad8 {
  /* background-image: url("/stock/rs_ad8.png"); */
  background-size: 1000px 1000px;
}

.ap8 {
  /* background-image: url("/stock/rs_aplus8.png"); */
  background-size: 2472px 1236px;
}
.ad8 .rs_collection_logo,
.ap8 .rs_collection_logo {
  position: absolute;
  top: 90px;
  left: 90px;
}

.ad8 .ad_logo,
.ap8 .ad_logo {
  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 200px;
}

.ad8 h2,
.ap8 h2 {
  position: relative
}

.ad8 .ad_copy,
.ap8 .ad_copy {
  top: 460px;
  left: 83px;
  width: 400px;
}

.ap8 h2 {
  font-size: 16em;
  width: 6em;
}

.ap8 p {
  font-size: 4em;
  width: 16em;
}

/* 9 & APLUS 1*/
.ad9,
.ap9 {
  color: #ffffff;
}
.ad9 {
  /* background-image: url("/stock/rs_ad9.png"); */
  background-size: 1000px 1000px;
}

.ap9 {
  /* background-image: url("/stock/rs_aplus9.png"); */
  background-size: 2472px 1236px;
}
.ad9 .rs_collection_logo,
.ap9 .rs_collection_logo {
  position: absolute;
  top: 90px;
  left: 90px;
}

.ad9 .ad_logo,
.ap9 .ad_logo {
  position: absolute;
  bottom: 90px;
  right: 90px;
  width: 200px;
}

.ad9 h2,
.ap9 h2 {
  position: relative
}

.ad9 .ad_copy,
.ap9 .ad_copy {
  top: 460px;
  left: 83px;
  width: 400px;
}
.ap9 h2 {
  font-size: 16em;
  width: 6em;
}

.ap9 p {
  font-size: 4em;
  width: 16em;
}



/* RS AD Logos*/
.aplus .ad_logo {
  width: 350px;
}
