<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/rs.css">
  </head>
  <body>
    <div class="front">
      <div class="plus plus1">+</div>
      <div class="plus plus2">+</div>
      <div class="tear_strip">
            <img src="data:image/svg+xml;base64,{{rs_motif}}'"  width="35" height="35" />
      </div>
      <div class="tear_strip_text">
        +++++++++++++------_____
      </div>
      <div class="header">
        <img src="data:image/svg+xml;base64,{{rs_header_motif}}'"  width="250" height="250" />
      </div>
      <div class="logos">
        <img src="data:image/svg+xml;base64,{{v_symbol}}"  width="30" height="30" />
        <img src="data:image/svg+xml;base64,{{fh_logo_black}}"  width="30" height="30" />
        <!--<img src="data:image/svg+xml;base64,'.base64_encode($recycled_logo_black).'"  width="30" height="30" />-->
      </div>
      <div class="title_header">
        Pack Contents
      </div>
      <div class="title">
      {{label_title}}
      </div>
      <div class="rs_logo">
        <img src="data:image/svg+xml;base64,{{rs_logo_black}}"  width="200" height="100" />
      </div>
      <div class="units_in_pack">
      {{units_in_pack}}<span>{{units_in_pack}}</span>
      </div>
      <div class="rs_collection {{rs_collection}}">
        <img class="rs_collection_logo" src="data:image/svg+xml;base64,{{rs_collection_logo}}" width="20" height="20" />{{rs_collection}}</div>
      <div class="bottom_bar"></div>
      <div class="footer_text">
      <span>rapidstrength.co</span>
      Subscribe for discounts
      </div>
    </div>
  </body>
</html>
<div class="back">
  <div class="plus plus3">+</div>
  <div class="plus plus4">+</div>
  <div class="tear_strip">
        <img src="data:image/svg+xml;base64,'{{rs_motif}}.'"  width="35" height="35" />
  </div>
  <div class="tear_strip_text">
  </div>

    <div class="ingredients">
      <h2>Ingredients</h2>
      <div>
        {{ingredients_list}}
      </div>
    </div>
    <div class="left_panel">
    </div>
    <div class="right_panel">
    <h2>Directions for Use</h2>
    <p>{{suggested_use}} Please don\'t exceed the recommended daily dose. Do not use if the package is damaged or the seal is broken.</p>
    <h2>Warnings</h2>
    <p>Our product is intended for use by adults aged 18 and above. Please keep out of reach of children.</p>
    <p>It\'s always best to check with your healthcare practitioner before using this product if you\'re pregnant, breastfeeding, taking medication, or have a medical condition.</p>
    <h2>Disclaimer</h2>
    <p>We believe in being transparent with our customers, so we want to make it clear that this product is not intended to diagnose, treat, cure, or prevent any disease.</p>
    <p>Fitness Health Ltd.<br />Gower Road<br />Swansea.<br />SA4 4RF</p>
    </div>
    <div class="bottom_bar"></div>
    <div class="bottom_panel">
    <img style="float:right" src="data:image/svg+xml;base64,{{fh_logo_black}}'"  width="50" height="50" />
      <div class="use_by_date">
        Best Before: {{use_by_date}}
      </div>
      <div class="sku">
      {{sku}}
      </div>
    </div>
      <div class="qr_code_text"><h2>Save on your next order!</h2>To get a discount on your next order, scan the QR code above with your mobile phone to order this item directly from our store.</div>
    <div class="qr_code">
      <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=http%3A%2F%2Frapidstrength.co" title="Link to Rapid Strength" />
    </div>
    <div class="batch_number">
      BN: {{batch_number}}
    </div>
    <div class="footer_text">
    <span>rapidstrength.co</span>
    Subscribe for discounts
    </div>
  </div>