<div class="front">
  <img class="motif" src="data:image/svg+xml;base64,'.base64_encode($inline_motif).'" width="190" />
  <img class="fitnesshealth-small-logo" src="data:image/svg+xml;base64,'.base64_encode($fh_logo_white).'"  width="85" height="85" />
  <img class="hole-punch" src="data:image/svg+xml;base64,'.base64_encode($fh_hole_punch).'"  width="32" height="32" />
  <div class="header">
  </div>
  <div class="logos">
    <img src="data:image/svg+xml;base64,'.base64_encode($v_symbol).'"  width="32" height="32" />
    <img class="middle" src="data:image/svg+xml;base64,'.base64_encode($fh_logo_black).'"  width="32" height="32" />
    <img src="data:image/svg+xml;base64,'.base64_encode($recycled_logo_black).'"  width="32" height="32" />
  </div>
  <div class="circle">
    <img class="fh-circle" src="data:image/svg+xml;base64,'.base64_encode($circle).'"  width="340"/>
  </div>
  <div class="feature_image">
    <img src="data:image/svg+xml;base64,'.base64_encode($feature_images[(int)$feature_image_code]).'"  width="300" height="300" />
  </div>
  <div class="title_header">
    Food Supplement
  </div>
  <div class="keyword_title">' . $keyword_title . '</div>
  <div class="title">
  ' . $title .  '
  </div>
  <div class="fitnesshealth_logo">
    <img src="data:image/svg+xml;base64,'.base64_encode($fitnesshealth_logo_square).'"  width="380" style="margin-top:-1px;margin-left:-1px;" />
  </div>
  <div class="units_in_pack">
  ' . $units_in_pack . '
  </div>
  <div class="footer_text">
  Subscribe to fitnesshealth <br />
  <span>fitnesshealth.co</span>
  </div>
 </div>

  <div class="back">
    <div class="header_back">
    </div>
    <div class="ingredients">
      <h2>Ingredients / Ingredientes / Zutaten / Ingrédients / Ingredienti</h2>
      <div>
        ' . $ingredients_list . '
      </div>
      <div> 
        <hr  style="height:0; border:0;border-top:1px solid #000"/>
        <h2>Allergens / Alérgenos / Allergene / Allergènes / Allergeni</h2>
        <p>' . $allergens .  '</p> 
      </div>
      ' . $nrv . '
      <hr  style="height:0; border:0;border-top:0.5px solid #000"/>
      <p>' . $country_of_origin .  '</p>
    </div>
    <div class="left_panel">
    </div>
    <div class="right_panel">
    <h2>Please keep out of reach of children.</h2>
    <p>Our product is intended for use by adults aged 18 and above.</p>
    <h2>Directions for Use</h2>
    <p>' . $suggested_use . ' Please don\'t exceed the recommended daily dose. Do not use if the package is damaged or the seal is broken.</p>
    <h2>Warnings</h2>
    <p>It\'s always best to check with your healthcare practitioner before using this product if you\'re pregnant, breastfeeding, taking medication, or have a medical condition.</p>
    <h2>Disclaimer</h2>
    <p>We believe in being transparent with our customers, so we want to make it clear that this product is not intended to diagnose, treat, cure, or prevent any disease.</p>
    <h2>Distributed By</h2>
    <p>Fitness Health Ltd.<br />Gower Road<br />Swansea.<br />SA2 7DP.</p>
    <hr  style="height:0; border:0;border-top:1px solid #000; padding-bottom:0.7em"/>
    <h2>Made Jenny\'s Way</h2>
    <p>Fitness Health is a family-owned business rooted in the legacy of our remarkable mother, Jenny Harwood. Jenny was not only a qualified nurse, but also a dedicated member of the Red Cross, where she applied her skills to aid those in need. Her passion for nutrition and wellbeing was evident in her tireless efforts to support and uplift others.</p>
    <p> With a genuine heart and unwavering commitment, Jenny spent her life caring for people, offering invaluable advice and unwavering support. Her influence is woven into every product we create, as we strive to carry on her legacy of enhancing lives, just as Jenny did.</p>
    </div>
  <div class="fitnesshealth_logo fitnesshealth_logo_back">
    <img src="data:image/svg+xml;base64,'.base64_encode($fitnesshealth_logo_square).'"  width="120" style="margin-top:-1px;margin-left:-1px;" />
  </div>
    <div class="bottom_logo">
      <img src="data:image/svg+xml;base64,'.base64_encode($fh_logo_black).'"  width="45" height="45" />
    </div>
    <div class="bottom_panel">
      <div class="use_by_date">
        Best Before: ' . $use_by_date . '
      </div>
      <div class="sku">
      ' . $sku . '
      </div>
    </div>
    <div class="qr_code">
      <!--<img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=http%3A%2F%2Ffitnesshealth.co" title="Link to Google.com" />-->
      <img src="https://quickchart.io/qr?text=https%3A%2F%2Ffitnesshealth.co&size=300" />
    </div>
      <div class="barcode">
        ' . $barcode_image . '
        <div>' . $barcode . '</div>
      </div>
    <div class="batch_number">
      BN: ' . $batch_number . '
    </div>

    <div class="reorder">Scan this QR code and reorder this pack here:</div>
    <div class="footer_text footer_text_back">
    Subscribe to fitnesshealth <br />
    <span>fitnesshealth.co</span>
    </div>
  </div>