<html>
  <body>
    <h1>demo</h1>
    {{label_title}}
    {{keyword_title}}
    {{keyword_title_size}}
    {{suggested_use}}
    {{use_by_date}}
    {{is_vegetarian}}
    {{is_vegan}}
    {{feature_image_code}}
    {{brand_colour}}
    {{units_in_pack}}
    {{current_batch_number}}
    {{ingredients}}
    {{ingredients_fr}}
    {{ingredients_de}}
    {{ingredients_es}}
    {{ingredients_it}}
    {{barcode_ean}}
    {{nrv}}
    {{AD_BULLETS}}
    {{KEY_FEATURE_TITLE}}
    {{KEY_FEATURE_COPY}}
    {{BULLETS_ES}}
    {{TITLE_ES}}
    {{COPY_ES}}
    {{BULLETS_DE}}
    {{TITLE_DE}}
    {{COPY_DE}}
    {{BULLETS_IT}}
    {{TITLE_IT}}
    {{COPY_IT}}
    {{BULLETS_FR}}
    {{TITLE_FR}}
    {{COPY_FR}}
  </body>
</html>