<html>

<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/css">
    body {
      background-color: rgb(63, 63, 63);
    }

    .ad_container {
      margin: 3rem;
      box-shadow: 0 0 8px 8px #33333388;

    }
  </style>
</head>

<body>
  <h1 class="font-bold p-12 text-white">Template: rs_ad_template</h1>
  <!--  Ad_1 -->
  <div id="ad_1" class="ad_container overflow-hidden w-[2000px] h-[2000px] bg-white justify-center items-center inline-flex">
    <div class="w-[2000px] h-[2000px] bg-zinc-300"></div>
  </div>
  <!--  Ad_2 -->
  <div id="ad_2" class="ad_container overflow-hidden w-[2000px] h-[2000px] relative bg-white">
    <div class="w-[2000px] h-[2000px] left-0 top-0 absolute bg-white justify-center items-center inline-flex">
      <div class="w-[2000px] h-[2000px] bg-zinc-300"></div>
    </div>
    <div class="w-[461px] h-[472px] left-[1380px] top-[1328px] absolute"></div>
    <div class="w-[911px] h-[219px] left-[737px] top-[451px] absolute text-black text-8xl font-['SF Pro'] font-semibold tracking-tighter">
      {{product_title}}</div>
    <div
      class="w-[911px] h-[484px] left-[737px] top-[670px] absolute text-black text-[80px] font-normal font-['SF Pro'] font-semibold tracking-tighter">
      {{product_description}}</div>
    <div class="w-[1911px] h-[2045px] left-[47px] top-[-41px] absolute">
      <div class="left-0 top-0 absolute text-black text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-0 top-[1742px] absolute text-black text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-[1746px] top-0 absolute text-black text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-[1746px] top-[1742px] absolute text-black text-[250px] font-normal font-['Inter']">+</div>
    </div>
  </div>
  <!--  Ad_3 -->
  <div id="ad_3" class="ad_container overflow-hidden w-[2000px] h-[2000px] relative bg-white">
    <div class="w-[2000px] h-[2000px] left-0 top-0 absolute bg-black"></div>
    <div class="w-[2000px] h-[12000px] left-0 top-[-5000px] absolute">
      <div class="w-[2000px] h-[2000px] left-0 top-[5000px] absolute">
        <img class="w-[5414.40px] h-[2470.50px] absolute"
          src="images/ad3_bg.png" />
      </div>
      <div class="w-[924px] h-[568px] left-[766px] top-[5750px] absolute text-white text-[64px] font-['SF Pro'] font-semibold tracking-tighter">
        {{key_feature}}
      </div>
      <div class="w-[1911px] h-[2045px] left-[44px] top-[4959px] absolute">
        <div class="left-0 top-0 absolute text-white text-[250px] font-normal font-['Inter']">+</div>
        <div class="left-0 top-[1742px] absolute text-white text-[250px] font-normal font-['Inter']">+</div>
        <div class="left-[1746px] top-0 absolute text-white text-[250px] font-normal font-['Inter']">+</div>
        <div class="left-[1746px] top-[1742px] absolute text-white text-[250px] font-normal font-['Inter']">+</div>
      </div>
    </div>
    <div class="w-[822px] h-[363px] left-[765px] top-[1382px] absolute">hello</div>
    <div class="w-[1148px] h-[404px] left-[765px] top-[308px] absolute">
      <div
        class="w-[1148px] h-[364px] left-0 top-[40px] absolute text-white text-[140px] font-['SF Pro'] font-semibold tracking-tighter leading-[140px]">
        The science <br />of strength.</div>
      <div class="w-64 h-40 left-[733px] top-0 absolute text-white text-[40px] font-['SF Pro'] font-semibold tracking-tighter leading-[140px]">TM</div>
    </div>
    <div class="w-[822px] h-[363px] left-[765px] top-[1382px] absolute">
      <img class="" src="images/rs_logo.svg" />
    </div>
  </div>
  <!--  Ad_4 -->
  <div id="ad_4" class="ad_container overflow-hidden w-[2000px] h-[2000px] relative bg-white">
    <div class="w-[2000px] h-[2000px] left-0 top-0 absolute bg-red-600"></div>
    <div class="w-[1911px] h-[2045px] left-[47px] top-[-41px] absolute">
      <div class="left-0 top-0 absolute text-yellow-400 text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-0 top-[1742px] absolute text-yellow-400 text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-[1746px] top-0 absolute text-yellow-400 text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-[1746px] top-[1742px] absolute text-yellow-400 text-[250px] font-normal font-['Inter']">+</div>
    </div>
    <div class="w-[652px] h-[667px] left-[212px] top-[219px] absolute"></div>
    <img class="w-[690px] h-[441px] left-[146px] top-[1000px] absolute" src="https://via.placeholder.com/690x441" />
    <div class="w-[759px] h-[719px] left-[1034px] top-[1000px] absolute text-yellow-400 text-[64px] font-['SF Pro'] font-semibold tracking-tighter">
      {{product_type}}</div>
  </div>
  <!--  Ad_5 -->
  <div id="ad_5" class="ad_container overflow-hidden w-[2000px] h-[2000px] relative bg-white">
    <div class="w-[1911px] h-[2045px] left-[44px] top-[-41px] absolute">
      <div class="left-0 top-0 absolute text-black text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-0 top-[1742px] absolute text-black text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-[1746px] top-0 absolute text-black text-[250px] font-normal font-['Inter']">+</div>
      <div class="left-[1746px] top-[1742px] absolute text-black text-[250px] font-normal font-['Inter']">+</div>
    </div>
    <img class="w-[1078px] h-[448px] left-[712px] top-[991px] absolute" src="https://via.placeholder.com/1078x448" />
    <img class="w-[297px] h-[709px] left-[197px] top-[602px] absolute" src="https://via.placeholder.com/297x709" />
    <div class="w-[641.71px] h-[282.99px] left-[192px] top-[1418px] absolute"></div>
    <div class="w-[628px] h-[628px] left-[712px] top-[262px] absolute bg-zinc-300 bg-opacity-0 border-8 border-red-600">
    </div>
    <div class="w-[551px] h-36 left-[749px] top-[694px] absolute text-red-600 text-[64px] font-normal font-['SF Pro'] font-semibold tracking-tighter">
      {{product_title}}</div>
    <div
      class="w-[551px] h-[296px] left-[749px] top-[342px] absolute text-red-600 text-[200px] font-normal font-['SF Pro'] font-semibold tracking-tighter">
      {{rs_code}}</div>
  </div>
  <!--  Ad_6 -->
  <div id="ad_5" class="ad_container overflow-hidden w-[2000px] h-[2000px] bg-white justify-center items-center inline-flex">
    <div class="w-[2000px] h-[2000px] bg-zinc-300"></div>
  </div>
</body>

</html>