<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/template_ux.css">
    <link rel="stylesheet" type="text/css" href="css/rs-captab.css">


    <!-- inline styles to overrride css as branding -->
    <style>
      .keyword_title {
        font-size:{{keyword_title_size}}pt;
      }
      .ad1, .ap1, .ad5, .ap5 {
        background-image: url("/renders/{{sku}}_background.png");
      }
      .is_vegan { display: {{is_vegan}};}
      .is_vegetarian { display: {{is_vegetarian}};}
      .is_halal { display: {{halal}};}
      .is_kosher { display: {{kosher}};}
      .is_gmo_free { display: {{gmo_free}};}
      .is_organic { display: {{organic}};}
    </style>
    </head>
  <body>
    <div class="top_bar">
      <a href="https://inventory.fitnesshealth.co/?product={{sku}}" target="_blank">{{sku}}</a>
      <br />
      Edit:
      <a href="https://inventory.fitnesshealth.co/wp-admin/post.php?post={{product_id}}&action=edit" target="_blank">{{sku}}</a>
      <br />      
      Regenerate:      
      <a href="#" onclick="fetch('http://localhost:3000/api/template?sku={{sku}}&tpl=rs-captab').then(response => response.json()).then(data => console.log(data)).catch(error => console.error('Error fetching data:', error)); return false;">{{sku}}</a>
      <br />
      Generate Images:      
      <a href="#" onclick="fetch('http://localhost:3000/api/screenshot?sku={{sku}}').then(response => response.json()).then(data => console.log(data)).catch(error => console.error('Error fetching data:', error)); return false;">{{sku}}</a>

      
    </div>
  
    <h2>Labels</h2>
    <div class="labels {{rs_collection}}">
      <div class="label front">
        <!-- emulate the window gap-->
        <div class="label_background_top"></div>
        <div class="label_background_bottom"></div>
        <div class="plus plus1">+</div>
        <div class="plus plus2">+</div>
        <div class="tear_strip">
            <img src="images/rs-motif.svg"  width="35" height="35" />
        </div>
        <div class="tear_strip_text">
          +++++++++++++------_____
        </div>
        <div class="header">
          <img src="images/rs-header-motif.svg"  width="140"  />
        </div>

        <div class="keyword_title">
          {{keyword_title}}.
        </div>
        <div class="keyword_subtitle">
          {{keyword_subtitle}}.
        </div>
        
        <div class="stripes">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 185.2 185.2" style="enable-background:new 0 0 185.2 185.2;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:{{brand_colour}};}
          </style>
          <g>
            <polygon class="st0" points="55.7,0 185.2,129.4 185.2,125 60.2,0 	"/>
            <polygon class="st0" points="111.5,0 185.2,73.7 185.2,69.2 115.9,0 	"/>
            <polygon class="st0" points="139.3,0 185.2,45.8 185.2,41.4 143.8,0 	"/>
            <polygon class="st0" points="27.8,0 185.2,157.3 185.2,152.9 32.3,0 	"/>
            <polygon class="st0" points="83.6,0 185.2,101.6 185.2,97.1 88,0 	"/>
            <polygon class="st0" points="0,0 185.2,185.2 185.2,180.7 4.4,0 	"/>
            <polygon class="st0" points="185.2,2.2 185.2,0 183,0 	"/>
            <polygon class="st0" points="167.2,0 185.2,18 185.2,13.5 171.7,0 	"/>
            <polygon class="st0" points="88,0 185.2,97.1 88.1,0 	"/>
            <polygon class="st0" points="185.2,152.9 185.2,152.8 32.3,0 	"/>
            <polygon class="st0" points="115.9,0 185.2,69.2 116,0 	"/>
            <polygon class="st0" points="4.4,0 185.2,180.7 185.2,180.7 4.5,0 	"/>
          </g>
          </svg>
        </div>
        <div class="logos">
          <!-- conditional -->
          <img class="is_vegetarian" src="images/vegetarian-logo.svg"  width="30" height="30" />
          <img class="is_vegan" src="images/vegan-logo.svg"  width="30" height="30" />
          <img class="is_organic" src="images/organic-logo.svg"  width="30" height="30" />
          <img class="is_halal" src="images/halal-logo.svg"  width="30" height="30" />
          <img class="is_kosher" src="images/kosher-logo.svg"  width="30" height="30" />
          <img src="images/fh-logo-black.svg"  width="30" height="30" />
        </div>
        <div class="title_header">
          Food Supplement
        </div>
        <div class="title">
          {{label_title}}
        </div>
        <div class="units_in_pack">
          <span>{{units_count}}</span><small class="e_symbol">&#x212E;</small><br />{{units_type}} 
        </div>
        <div class="rs_collection {{rs_collection}}">
          <img class="rs_collection_logo" src="images/rs-{{rs_collection}}-small.svg" width="20" height="20" />{{rs_collection}}</div>
        <div class="bottom_bar" style="background-color: {{brand_colour}};"></div>
        <div class="footer_text">
        <span>rapidstrength.co</span>
        The Science of Strength
        </div>
      </div>
      <div class="label back">
      <div class="plus plus3">+</div>
      <div class="plus plus4">+</div>
      <div class="tear_strip">
            <img src="images/rs-motif.svg"  width="35" height="35" />
      </div>
      <div class="tear_strip_text" style="background-color: {{brand_colour}};">
      </div>

        <div class="ingredients">
          <h2>Ingredients</h2>
          <div>
            {{ingredients}}
          </div>
        </div>
        <div class="left_panel">
        </div>
        <div class="right_panel">
        <h2>Directions for Use</h2>
        <p>{{suggested_use}} Please don't exceed the recommended daily dose. Do not use if the package is damaged or the seal is broken.</p>
        <h2>Warnings</h2>
        <p>Our product is intended for use by adults aged 18 and above. Please keep out of reach of children.</p>
        <p>It's always best to check with your healthcare practitioner before using this product if you're pregnant, breastfeeding, taking medication, or have a medical condition.</p>
        <h2>Disclaimer</h2>
        <p>We believe in being transparent with our customers, so we want to make it clear that this product is not intended to diagnose, treat, cure, or prevent any disease.</p>
        <p>Fitness Health Ltd.<br />Gower Road<br />Swansea.<br />SA4 4RF</p>
        </div>
        <div class="bottom_bar" style="background-color: {{brand_colour}};"></div>
        <div class="bottom_panel">
        <img style="float:right" src="images/fh-logo-black.svg"  width="50" height="50" />
          <div class="use_by_date">
            Best Before: {{use_by_date}}
          </div>
          <div class="sku">
          {{sku}}
          </div>
        </div>
          <div class="qr_code_text"><h2>Save on your next order!</h2>To get a discount on your next order, scan the QR code above with your mobile phone to order this item directly from our store.</div>
        <div class="qr_code">
          <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=http%3A%2F%2Frapidstrength.co" title="Link to Rapid Strength" />
        </div>
        <div class="batch_number">
          BN: {{batch_number}}
        </div>
        <div class="footer_text">
        <span>rapidstrength.co</span>
        The Science of Strength
        </div>
      </div>
    </div>
    <h2>Adverts</h2>
    <div class="advert_content">
      <div class="advert ad1">
      </div>
      <div class="advert ad2">
        <h2>High quality<br />ingredients, safely<br />formulated</h2>
      </div>
      <div class="advert ad3">
                ADVERT 3
      </div>
      <div class="advert ad4">
                ADVERT 4
      </div>
      <div class="advert ad5">
                ADVERT 5
      </div>
      <div class="advert ad6">
                ADVERT 3
      </div>
      <div class="advert ad7">
                ADVERT 4
      </div>
      <div class="advert ad8">
                ADVERT 5
      </div>
     <div class="advert ad9">
                ADVERT 5
      </div>
    </div>
    <h2>A+ Content</h2>
    <div class="aplus_content">
      <div class="aplus ap1">
        <h1>The Science of Strength.</h1>
      </div>
      <div class="aplus ap2"></div>
      <div class="aplus ap3"></div>
      <div class="aplus ap4"></div>
      <div class="aplus ap5"></div>
      <div class="aplus ap6"></div>
      <div class="aplus ap7"></div>
      <div class="aplus ap8"></div>
      <div class="aplus ap9"></div>
    </div>

    <p>lab: {{label_title}}</p>
    <p>key: {{keyword_title}}</p>
    <p>key: {{keyword_title_size}}</p>
    <p>sug: {{suggested_use}}</p>
    <p>use: {{use_by_date}}</p>
    <p>is_: {{is_vegetarian}}</p>
    <p>is_: {{is_vegan}}</p>
    <p>fea: {{feature_image_code}}</p>
    <p>bra: {{brand_colour}}</p>
    <p>uni: {{units_in_pack}}</p>
    <p>cur: {{current_batch_number}}</p>
    <p>ing: {{ingredients}}</p>
    <p>ing: {{ingredients_fr}}</p>
    <p>ing: {{ingredients_de}}</p>
    <p>ing: {{ingredients_es}}</p>
    <p>ing: {{ingredients_it}}</p>
    <p>bar: {{barcode_ean}}</p>
    <p>nrv: {{nrv}}</p>
    <p>AD_: {{AD_BULLETS}}</p>
    <p>KEY: {{KEY_FEATURE_TITLE}}</p>
    <p>KEY: {{KEY_FEATURE_COPY}}</p>
    <p>BUL: {{BULLETS_ES}}</p>
    <p>TIT: {{TITLE_ES}}</p>
    <p>COP: {{COPY_ES}}</p>
    <p>BUL: {{BULLETS_DE}}</p>
    <p>TIT: {{TITLE_DE}}</p>
    <p>COP: {{COPY_DE}}</p>
    <p>BUL: {{BULLETS_IT}}</p>
    <p>TIT: {{TITLE_IT}}</p>
    <p>COP: {{COPY_IT}}</p>
    <p>BUL: {{BULLETS_FR}}</p>
    <p>TIT: {{TITLE_FR}}</p>
    <p>COP: {{COPY_FR}}</p>
  </body>
</html>