<html>
  <head>
    <script src="https://kit.fontawesome.com/f4b7200dd7.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.6/JsBarcode.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/pouch.css">


    <link rel="stylesheet" type="text/css" href="css/rs-captab.css">
    <!-- conditional/inline styles -->
    <style>
      .keyword_title {
        font-size:{{keyword_title_size}}pt;
      }
      .is_vegan { display: {{is_vegan}};}
      .is_vegetarian { display: {{is_vegetarian}};}
      .is_halal { display: {{halal}};}
      .is_kosher { display: {{kosher}};}
      .is_gmo_free { display: {{gmo_free}};}
      .is_organic { display: {{organic}};}
    </style>
    </head>
  <body>
    <div class="labels {{rs_collection}}">
      <div class="label front">
        <!-- emulate the window gap-->
        <div class="label_background_top"></div>
        <div class="label_background_bottom"></div>
        <div class="plus plus1">+</div>
        <div class="plus plus2">+</div>
        <div class="tear_strip">
              <img src="images/rs-motif.svg"  width="35" height="35" />
        </div>
        <div class="tear_strip_text">
          HEAT SEALED FOR SAFETY AND FRESHNESS ++++++++-----_____
        </div>
        <div class="header">
          <img src="images/rs-header-motif.svg"  width="140"  />
        </div>

        <div class="keyword_title">
          {{keyword_title}}
        </div>
        <div class="keyword_subtitle">
          {{keyword_subtitle}}.
        </div>
        <div class="stripes">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 185.2 185.2" style="enable-background:new 0 0 185.2 185.2;" xml:space="preserve">
          <style type="text/css">
            .st0{;}
          </style>
          <g>
            <polygon class="st0" points="55.7,0 185.2,129.4 185.2,125 60.2,0 	"/>
            <polygon class="st0" points="111.5,0 185.2,73.7 185.2,69.2 115.9,0 	"/>
            <polygon class="st0" points="139.3,0 185.2,45.8 185.2,41.4 143.8,0 	"/>
            <polygon class="st0" points="27.8,0 185.2,157.3 185.2,152.9 32.3,0 	"/>
            <polygon class="st0" points="83.6,0 185.2,101.6 185.2,97.1 88,0 	"/>
            <polygon class="st0" points="0,0 185.2,185.2 185.2,180.7 4.4,0 	"/>
            <polygon class="st0" points="185.2,2.2 185.2,0 183,0 	"/>
            <polygon class="st0" points="167.2,0 185.2,18 185.2,13.5 171.7,0 	"/>
            <polygon class="st0" points="88,0 185.2,97.1 88.1,0 	"/>
            <polygon class="st0" points="185.2,152.9 185.2,152.8 32.3,0 	"/>
            <polygon class="st0" points="115.9,0 185.2,69.2 116,0 	"/>
            <polygon class="st0" points="4.4,0 185.2,180.7 185.2,180.7 4.5,0 	"/>
          </g>
          </svg>
        </div>
        <div class="logos">
          <!-- conditional -->
          <img class="is_vegetarian" src="images/vegetarian-logo.svg"  width="30" height="49" />
          <img class="is_vegan" src="images/vegan-logo.svg"  width="30" height="49" />
          <img class="is_organic" src="images/organic-logo.svg"  width="30" height="49" />
          <img class="is_halal" src="images/halal-logo.svg"  width="30" height="49" />
          <img class="is_kosher" src="images/kosher-logo.svg"  width="30" height="49" />
          <img src="images/fh-logo-black.svg"  width="30" height="49" />
        </div>
        <div class="title_header">
          Food Supplement
        </div>
        <div class="title">
          {{label_title}}
        </div>
        <div class="units_in_pack">
          <span>{{units_count}}</span> {{units_type}} &#8494;
        </div>
        <div class="rs_collection {{rs_collection}}">
          <img class="rs_collection_logo" src="images/rs-{{rs_collection}}-small.svg" width="20" height="20" />{{rs_collection}}</div>
        <div class="bottom_bar"></div>
        <div class="footer_text">
        <span>rapidstrength.co</span>
        The Science of Strength
        </div>
      </div>
    </div>
  </body>
</html>