<html>
  <head>
    <script src="https://kit.fontawesome.com/f4b7200dd7.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.6/JsBarcode.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/pouch.css">
    <link rel="stylesheet" type="text/css" href="/templates/bl-powder/css/bl-powder.css">
    
    <!-- conditional/inline styles -->
    <style>
      .is_vegan { display: {{is_vegan}};}
      .is_vegetarian { display: {{is_vegetarian}};}
      .is_halal { display: {{halal}};}
      .is_kosher { display: {{kosher}};}
      .is_gmo_free { display: {{gmo_free}};}
      .is_organic { display: {{organic}};}
      .bottom_bar {
        opacity:1;
        border-radius:5em;
        background-color: {{brand_colour}};
      }
      .ingredients,
      .allergens {
        border-color: {{brand_colour}};
      }

    </style>
    </head>
  <body>
    <div class="labels {{rs_collection}}">
      <div class="label back">
      <div class="safety_panel">
        <div class="safety_information">
          <h2>Important Safety Information / Wichtige Sicherheitshinweise / Informazioni importanti sulla sicurezza / Informacion de Seguridad Importante / Informations de sécurité importantes</h2>
          <img class="compliance" src="images/compliance.svg"  height="28" />
          <p>Our product is intended for <b>use by adults aged 18 and above</b>. <b>Please keep out of reach of children!</b>.
            <br /> STORE IN A COOL DRY PLACE<br />If you are pregnant, breastfeeding, taking prescription medication or under
            medical supervision it is advisable to consult a doctor prior to taking any supplements. This product is not intended
            to diagnose, treat, cure, or prevent any disease. It should not be used as a substitute for a varied and balanced
            diet.</p>
        </div>
         <div class="ingredients">
          <h2>Ingredients / Zutaten / Ingredienti / Ingredientes / Ingrédients</h2>
          <div>
            <b>EN</b> {{{ingredients}}}
          </div>
        </div>
      </div>
      <div class="directions_panel">
           <h2>Directions for Use / Gebrauchsanweisung / Istruzioni per l'uso / Instrucciones de uso / Mode d'emploi</h2>
          <p><b>EN</b>  {{{suggested_use}}}</p>
          <div class="allergens">
          <h2>Allergens / Allergene / Allergeni / Alérgenos / Allergènes</h2>
          <p>
            <b>EN</b> {{{ALLERGENS_EN}}}
          </p>
          </div>
          <p>Packaged to HACCP standards in the UK by Fitness Health Ltd. Gower Road, Swansea. SA4 4RF. Product of U.K. </p>
        </div>
        <div class="bottom_bar"></div>
        <div class="bottom_panel">
        <img style="float:right" src="images/fh-logo-black.svg"  width="50" height="50" />
          <div class="use_by_date">
            Best Before: {{use_by_date}}
          </div>
          <div class="sku">
          {{sku}}
          </div>
          <div class="batch_number">
            BN: {{current_batch_number}}
          </div>
        </div>
          <div class="qr_code_text"><h2>Save on your next order!</h2>To get a discount on your next order, scan the QR code above with your mobile phone to order this item directly from our store.</div>
        <div class="qr_code">
          <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=http%3A%2F%2Frapidstrength.co" title="Link to Rapid Strength" />
        </div>
          <svg class="barcode"
            jsbarcode-height="30"
            jsbarcode-width="1"
            jsbarcode-value="{{barcode_ean}}"
            jsbarcode-textmargin="0"
            jsbarcode-fontsize="12"
            >
          </svg>
          <script type="text/javascript">
            JsBarcode(".barcode").init();
          </script>
        <div class="footer_text">
        <span>fitnesshealth.co</span>
        </div>
      </div>
    </div>
  </body>
</html>