<html>

<head>
  <script src="https://kit.fontawesome.com/f4b7200dd7.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.6/JsBarcode.all.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/templates/assets/css/template_ux.css">
  <link rel="stylesheet" type="text/css" href="/templates/assets/css/fh-adverts.css">
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'en,{{language}}',
      }, 'google_translate_element');
      setTimeout(function () {
        // Set the default language to Spanish
        var selectElement = document.querySelector('#google_translate_element select');
        selectElement.value = '{{language}}';
        selectElement.dispatchEvent(new Event('change'));
      }, 500);
    }

  </script>

  <!-- <link rel="stylesheet" type="text/css" href="css/rs-captab.css"> -->
  <!-- conditional/inline styles -->
  <style>
   .keyword_title {
        font-size:{{keyword_title_size}}pt;
      }
      .ad1 {
        background-image: url("/renders/{{sku}}/{{sku}}_00001.jpg");
      }
      .ap1 {
        background-image: url("/renders/{{sku}}/{{sku}}_00002.jpg");
      }
      .ad2, .ap2 {
        /*background-image: url("/renders/{{sku}}/{{sku}}_00002.jpg");*/
      }
      .ad3, .ap3 {
        {{!-- background-image: url("/stock/shutterstock_2146195251.jpg"); --}}
      }
      .ad4, .ap4 {
        background-image: url("/renders/{{sku}}/{{sku}}_00003.jpg");
      }
      .ad5, .ap5  {
        background-image: url("/renders/{{sku}}/{{sku}}_00004.jpg");
      }
      .is_vegan { display: {{is_vegan}};}
      .is_vegetarian { display: {{is_vegetarian}};}
      .is_halal { display: {{halal}};}
      .is_kosher { display: {{kosher}};}
      .is_gmo_free { display: {{gmo_free}};}
      .is_organic { display: {{organic}};}

      .ad5 .rs_logos img.{{rs_collection}},
      .ap5 .rs_logos img.{{rs_collection}} {
        display:block
      }
  </style>
</head>

<body class="{{rs_collection}}">
  <div id="google_translate_element"></div>
  <div class="content">
    <h2>Adverts</h2>
    <div class="advert_content">
      <div class="advert ad1 featured">
      </div>
      <div class="advert ad1">
      </div>
      <div class="advert ad2">
        {{{AD_BULLETS_HTML}}}
        <div class="disclaimer_text">
          <p>While we cannot make specific health claims "{{keyword_title}}" is often associated with the benefits
            above.</p>
        </div>
      </div>
      <div class="advert ad3">
        <h2>Quality<br />assured.</h2>
        <div class="certificate">
          <h1>100%</h1>
          <h2>Satisfaction</h2>
          <h2>guarantee.</h2>
        </div>
        {{{CUSTOM_BULLETS_HTML}}}
        <div class="guarantee_text">
          <p>We are confident that you will be happy with your purchase from us.</p>
          <p>We will provide a refund if the product is not to your satisfaction, or not as described.</p>
        </div>
      </div>
      <div class="advert ad4">
        <div class="logos">
          <!-- conditional -->
          <img class="is_vegetarian" src="images/vegetarian-logo.svg" />
          <img class="is_vegan" src="images/vegan-logo.svg" />
          <img class="is_halal" src="images/halal-logo.svg" />
          <img class="is_kosher" src="images/kosher-logo.svg" />
        </div>
      </div>
      <div class="advert ad5">
        <h2>{{KEY_FEATURE_TITLE}}</h2>
        <div class="features">
          <p>{{KEY_FEATURE_COPY}}</p>
        </div>
      </div>
      <div class="advert ad6">

      </div>
      <div class="advert ad7">

      </div>
      <div class="advert ad8">

      </div>
      <div class="advert ad9">
      </div>
    </div>
    <h2>A+ Content</h2>
    <div class="aplus_content">
      <div class="aplus ap1">
        <div class="key_feature_title">{{keyword_title}}</div>
        <div class="key_featture_subtitle">{{keyword_subtitle}}</div>
      </div>
      <div class="aplus ap2">
        <div style="width: 2000px; height: 1236px; position: relative; background: white">
          <div
            style="width: 367px; height: 478px; padding-top: 0.01px; left: 106px; top: 206px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 367.02px; height: 477.99px; background: #FFF0CA"></div>
          </div>
          <div
            style="width: 774px; height: 144px; left: 188px; top: 235px; position: absolute; color: black; font-size: 48px; font-family: New York; font-weight: 568; word-wrap: break-word">
            Embrace the Power of Nature with African Mango 1200mg Tablets</div>
          <div
            style="width: 732px; height: 327px; left: 188px; top: 454px; position: absolute; color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; line-height: 42px; word-wrap: break-word">
            Traditionally used for its nutritional benefits, African mango has gained popularity for its potential role in
            weight management and supporting metabolic health. </div>
          <img style="width: 427px; height: 661px; left: 1300px; top: 96px; position: absolute"
            src="https://via.placeholder.com/427x661" />
          <div
            style="width: 158px; height: 158px; left: 269px; top: 853px; position: absolute; border-radius: 9999px; border: 1px black solid">
          </div>
          <div
            style="width: 157px; height: 158px; left: 595px; top: 853px; position: absolute; border-radius: 9999px; border: 1px black solid">
          </div>
          <div
            style="width: 157px; height: 158px; left: 920px; top: 853px; position: absolute; border-radius: 9999px; border: 1px black solid">
          </div>
          <div
            style="width: 157px; height: 158px; left: 1246px; top: 853px; position: absolute; border-radius: 9999px; border: 1px black solid">
          </div>
          <div
            style="width: 158px; height: 158px; left: 1569px; top: 853px; position: absolute; border-radius: 9999px; border: 1px black solid">
          </div>
          <div
            style="width: 149px; height: 171px; left: 274px; top: 1052px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            boosts metabolism + energy</div>
          <div
            style="width: 178px; height: 171px; left: 584px; top: 1052px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            boosts metabolism + energy</div>
          <div
            style="width: 163px; height: 171px; left: 917px; top: 1052px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            boosts metabolism + energy</div>
          <div
            style="width: 156px; height: 171px; left: 1246px; top: 1052px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            boosts metabolism + energy</div>
          <div
            style="width: 164px; height: 171px; left: 1566px; top: 1052px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            boosts metabolism + energy</div>
        </div>
        {{{AD_BULLETS_HTML}}}
        <div class="disclaimer_text">
          <p>While we cannot make specific health claims "{{keyword_title}}" is often associated with the benefits
            above.</p>
        </div>
      </div>

      <div class="aplus ap3">
        <div style="width: 2000px; height: 1236px; position: relative; background: white">
          <div
            style="padding-top: 175px; padding-bottom: 84px; left: 536px; top: 45px; position: absolute; background: white; flex-direction: column; justify-content: flex-end; align-items: center; display: inline-flex">
            <img style="width: 1143px; height: 797px" src="https://via.placeholder.com/1143x797" />
          </div>
          <div style="width: 329px; height: 413px; left: 392px; top: 650px; position: absolute; background: #FFF0CA"></div>
          <div style="width: 473px; height: 251px; left: 1371px; top: 714px; position: absolute; background: #FFF0CA"></div>
          <div style="width: 245px; height: 474px; left: 1363px; top: 175px; position: absolute; background: #FFF0CA"></div>
          <div style="width: 395px; height: 330px; left: 326px; top: 183px; position: absolute; background: #FFF0CA"></div>
          <div style="width: 477px; height: 314px; left: 244px; top: 260px; position: absolute"><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 600; word-wrap: break-word">WEIGHT
              MANAGEMENT SUPPORT<br /></span><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">African
              mango may help support weight loss efforts by promoting feelings of fullness, supporting healthy blood sugar
              levels, and influencing fat metabolism.</span></div>
          <div style="width: 497px; height: 314px; left: 211px; top: 760px; position: absolute"><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 600; word-wrap: break-word">HEALTHY
              CHOLESTEROL LEVELS<br /></span><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">Some
              studies suggest that African mango may help maintain healthy cholesterol levels, contributing to overall
              cardiovascular health.</span></div>
          <div style="width: 529px; height: 313px; left: 1297px; top: 771px; position: absolute"><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 600; word-wrap: break-word">CONVENIENT
              TABLET FORM<br /></span><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">Our African
              Mango 1200mg Tablets offer a simple and convenient way to incorporate this unique ingredient into your daily
              routine.</span></div>
          <div style="width: 522px; height: 313px; left: 1304px; top: 300px; position: absolute"><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 600; word-wrap: break-word">METABOLIC
              SUPPORT<br /></span><span
              style="color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">African
              mango may help support healthy metabolic function, contributing to energy balance and overall well-being.</span>
          </div>
        </div>
      </div>
      <div class="aplus ap4">
        <div style="width: 2000px; height: 1236px; position: relative; background: white">
          <div
            style="width: 647px; height: 489px; left: 213px; top: 180px; position: absolute; color: black; font-size: 96px; font-family: New York; font-weight: 568; word-wrap: break-word">
            Trusted, effective & responsibly <br />sourced.</div>
          <div style="width: 254.33px; height: 79.70px; left: 254.99px; top: 1001.69px; position: absolute"></div>
          <img
            style="width: 1028px; height: 274px; left: 1840.14px; top: 1173px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0"
            src="https://via.placeholder.com/1028x274" />
          <div style="width: 187.84px; height: 171.81px; left: 610.46px; top: 955.11px; position: absolute">
            <div style="width: 187.84px; height: 171.81px; left: 0px; top: 0px; position: absolute"></div>
            <div
              style="width: 46.85px; height: 35.21px; left: 72.04px; top: 35.54px; position: absolute; border: 4px black solid">
            </div>
          </div>
          <div style="width: 793.58px; height: 739.74px; left: 886px; top: 99px; position: absolute">
            <div style="width: 737.50px; height: 729.78px; left: 7.65px; top: 3.08px; position: absolute; background: #262626">
            </div>
            <div
              style="width: 733.91px; height: 722.52px; left: 29.80px; top: -0.09px; position: absolute; background: #262626">
            </div>
            <div style="width: 629.38px; height: 629.83px; left: 74.42px; top: 41.09px; position: absolute">
              <div style="width: 629.38px; height: 629.83px; left: 0px; top: 0px; position: absolute; background: black"></div>
              <img style="width: 735px; height: 659.05px; left: -15.91px; top: -34.21px; position: absolute"
                src="https://via.placeholder.com/735x659" />
            </div>
            <div
              style="width: 23.32px; height: 23.32px; left: 659.60px; top: 110.54px; position: absolute; background: #262626">
            </div>
            <div style="width: 23.32px; height: 23.32px; left: 0px; top: 320.56px; position: absolute; background: #262626">
            </div>
            <div
              style="width: 23.32px; height: 23.32px; left: 748.43px; top: 356.01px; position: absolute; background: #262626">
            </div>
            <div
              style="width: 23.32px; height: 23.32px; left: 407.29px; top: 716.42px; position: absolute; background: #262626">
            </div>
          </div>
          <div
            style="width: 497px; height: 314px; left: 211px; top: 573px; position: absolute; color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            Some studies suggest that African mango may help maintain healthy cholesterol levels, contributing to overall
            cardiovascular health.</div>
        </div>
        <div class="logos">
          <!-- conditional -->
          <img class="is_vegetarian" src="images/vegetarian-logo.svg" />
          <img class="is_vegan" src="images/vegan-logo.svg" />
          <img class="is_halal" src="images/halal-logo.svg" />
          <img class="is_kosher" src="images/kosher-logo.svg" />
        </div>
      </div>
      <div class="aplus ap5">
        <div style="width: 2000px; height: 1236px; position: relative; background: white">
          <div style="width: 1872.37px; height: 1077.61px; left: 73px; top: 79px; position: absolute; background: #FFEE99">
          </div>
          <div style="width: 228px; height: 228px; left: 1319px; top: 795px; position: absolute; border: 0.84px black solid">
          </div>
          <div style="width: 186px; height: 186px; left: 1096px; top: 837px; position: absolute; border: 2.54px black solid">
          </div>
          <div style="width: 243px; height: 243px; left: 1584px; top: 779px; position: absolute; border: 0.91px black solid">
          </div>
          <div style="width: 98px; height: 278px; left: 938px; top: 750px; position: absolute">
            <div style="width: 31px; height: 0px; left: 0px; top: 273px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 261px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 249px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 237px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 225px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 22px; height: 0px; left: 0px; top: 213px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 201px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 190px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 178px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 166px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 31px; height: 0px; left: 0px; top: 154px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 142px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 130px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 119px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 107px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 22px; height: 0px; left: 0px; top: 95px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 83px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 71px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 59px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 47px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 31px; height: 0px; left: 0px; top: 35px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 24px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 12px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 16px; height: 0px; left: 0px; top: 0px; position: absolute; border: 1.43px black solid"></div>
            <div style="width: 14px; height: 11px; left: 84px; top: 266px; position: absolute; background: black"></div>
            <div style="width: 14px; height: 20px; left: 84px; top: 244px; position: absolute; background: black"></div>
            <div style="width: 21px; height: 11px; left: 43px; top: 267px; position: absolute; background: black"></div>
            <div style="width: 19px; height: 6px; left: 44px; top: 153px; position: absolute; background: black"></div>
            <div style="width: 20px; height: 12px; left: 43px; top: 32px; position: absolute; background: black"></div>
          </div>
          <img style="width: 1689px; height: 526px; left: 164px; top: 163px; position: absolute"
            src="https://via.placeholder.com/1689x526" />
        </div>
      </div>
      <div class="aplus ap6">
        <div style="width: 2000px; height: 1236px; position: relative; background: white">
          <div
            style="width: 398px; height: 361px; left: 77px; top: 670px; position: absolute; color: black; font-size: 32px; font-family: Fira Sans; font-weight: 400; word-wrap: break-word">
            A family business that has served millions of satisfied customers all around the world for the last 13 years.</div>
          <div
            style="width: 479px; height: 496px; left: 77px; top: 137px; position: absolute; color: black; font-size: 72px; font-family: New York; font-weight: 568; word-wrap: break-word">
            For 13 years, we’ve been helping millions of people just like you.</div>
          <div style="width: 521.63px; height: 520.30px; left: 1023px; top: 324px; position: absolute"></div>
        </div>
      </div>
    </div>
    <pre>
    <p>label_title: {{label_title}}</p>
    <p>keyword_title: {{keyword_title}}</p>
    <p>keyword_title_size: {{keyword_title_size}}</p>
    <p>suggested_us: {{suggested_use}}</p>
    <p>use_by_date: {{use_by_date}}</p>
    <p>is_vegetarian: {{is_vegetarian}}</p>
    <p>is_: {{is_vegan}}</p>
    <p>fea: {{feature_image_code}}</p>
    <p>bra: {{brand_colour}}</p>
    <p>3D_Colour: {{three_d_colour}}</p>
    <p>uni: {{units_in_pack}}</p>
    <p>cur: {{current_batch_number}}</p>
    <p>ing: {{ingredients}}</p>
    <p>ing: {{ingredients_fr}}</p>
    <p>ing: {{ingredients_de}}</p>
    <p>ing: {{ingredients_es}}</p>
    <p>ing: {{ingredients_it}}</p>
    <p>bar: {{barcode_ean}}</p>
    <p>nrv: {{nrv}}</p>
    <p>AD_: {{AD_BULLETS}}</p>
    <p>KEY: {{KEY_FEATURE_TITLE}}</p>
    <p>KEY: {{KEY_FEATURE_COPY}}</p>
    <p>BUL: {{BULLETS_ES}}</p>
    <p>TIT: {{TITLE_ES}}</p>
    <p>COP: {{COPY_ES}}</p>
    <p>BUL: {{BULLETS_DE}}</p>
    <p>TIT: {{TITLE_DE}}</p>
    <p>COP: {{COPY_DE}}</p>
    <p>BUL: {{BULLETS_IT}}</p>
    <p>TIT: {{TITLE_IT}}</p>
    <p>COP: {{COPY_IT}}</p>
    <p>BUL: {{BULLETS_FR}}</p>
    <p>TIT: {{TITLE_FR}}</p>
    <p>COP: {{COPY_FR}}</p>

    </pre>
  </div>
</body>

</html>